<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--日志存放路径-->
    <add key="logpath" value="f:/wms.log" />
    <!--数据库类型-->
    <!--  使用SQL Server 数据库 -->
    <add key="dataType" value="Sacesc_wms_SQLDAL.dll"/>
    <!--图片保存路径-->
    <add key="picpath" value="" />
    <!--报警提前天数-->
    <add key="day" value="3" />
    <!--上次登录成功的用户名-->
    <add key="UserName" value="sa" />
    <!--上次登录成功的角色-->
    <add key="Role" value="管理员" />
    <!--入库时验证物料长和宽度-->
    <add key="CheckSize" value="1" />
    <!--垛机货位最高上线（毫米）-->
    <add key="MaxThick" value="1150" />
    <!--生产计划编码生成方式 1 自动-->
    <add key="IsAutoPlanCode" value="1" />




    <!--垛机PLC IP-->
    <add key="StackingIpSet" value="192.168.1.23"/>
    <!--垛机PLC 写入命令端口-->
    <add key="StackingWritePort" value="2001"/>
    <!--垛机PLC 读取命令端口-->
    <add key="StackingReadPort" value="2000"/>

    <add key="InOn" value="1"/>

    <!--i_run状态-->
    <add key="runStart" value="0"/>
    <add key="runBegin" value="1"/>
    <add key="runGetOutSendPlace" value="2"/>
    <add key="runGetOutRuning" value="3"/>
    <add key="runGetOutFinish" value="4"/>
    <add key="runTakeBackBegin" value="5"/>
    <add key="runTakeBackSendPlace" value="6"/>
    <add key="runTakeBackRuning" value="7"/>
    <add key="runFinish" value="9"/>

    <!--打印纸大小-->
    <add key="PrintWidth" value="500"/>
    <add key="PrintHeight" value="300"/>




    <!--测试用状态-->


    <!--垛机是否具备发送命令状态-->
    <add key="plcState1" value="1"/>
    <add key="plcState2" value="-1"/>





    <add key="BarcodeType" value="1"/>
    <add key="ProductOurType" value="2"/>






    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <!-- <add name="constr" connectionString="Data Source = sac_13; User Id = sac_13; Password = |츀||蘀||였||切||谀||찀|" />-->
    <!--  <add name="constr" connectionString="Data Source =MS-20151026EMMT;Initial Catalog=WMCS; User ID = sa" />-->
    <add name="constr" connectionString="Data Source = localhost;Initial Catalog=WMS_KT; User ID = sa;Password=123qwe!@#;" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>